<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ✅ Android 11+ 패키지 가시성: 카카오톡 설치 여부 체크 + PROCESS_TEXT -->
    <queries>
        <!-- Flutter 엔진에서 사용하는 PROCESS_TEXT -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- 카카오톡 설치 여부 체크용 -->
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:label="dating_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />

            <!-- ✅ 기본 런처 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- ✅ Kakao Login Redirect Handler (권장/사실상 필수)
             - 카카오톡/카카오계정 로그인 후 "kakao{NativeAppKey}://oauth" 로 돌아오는 콜백을 처리 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="kakaocb08e2aea50a58b7d0c5e610e0c5a644"
                    android:host="oauth" />
            </intent-filter>
        </activity>

        <!-- Flutter tool meta -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- ✅ Kakao SDK: Native App Key -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="cb08e2aea50a58b7d0c5e610e0c5a644" />

    </application>
</manifest>